<% provide(:title, t('nav.myparts')) %>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 mb-2">
			<h1>
				<%= t('nav.myparts') %>
			</h1>
			<div id="app" data-colors="<%=Part::COLORS.to_json%>" data-languages="<%=Part::LANGUAGES.to_json%>">
				<vue-good-table styleClass="accordion-body" :columns="columns" :rows="rows" :search-options="searchOptions" :is-loading="isLoading" :sort-options="{initialSortBy: sortOptions}" :pagination-options="paginationOptions" v-on:per-page-change="onPerPageChange" v-on:sort-change="onSortChange" :group-options="{enabled: isGrouping()}">
					<template #table-actions>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default btn-sm" @click="toggleFilters" title="<%= t(:filter) %>">
								<i class="bi bi-filter"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm" @click="downloadCsv" title="<%= t(:csvExport) %>">
								<i class="bi bi-download"></i>
							</button>
							<div class="dropdown">
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" id="selectColumsDropdown" title="<%= t(:columnsDisplay) %>">
									<i class="bi bi-sliders2" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu" style="top: auto; left: auto;" aria-labelledby="selectColumsDropdown">
									<li v-for="(column, index) in columns" :key="index">
										<a href="#" class="dropdown-item small" tabIndex="-1" @click.prevent="toggleColumn(index, $event)">
											<input :checked="!column.hidden" type="checkbox" style="pointer-events: none;"/>&nbsp;{{column.label}}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</template>
					<template #table-row="props">
						<%= render "parts/image" %>
						<%= render "parts/title" %>
						<%= render "parts/color" %>
						<%= render "parts/remarks" %>
						<span v-if="props.column.field == 'my_part.comment'">
							<textarea class="form-control myComment" v-bind:data-id="props.row.id" v-model="props.row.my_part.comment" @blur="mycommentChanged" style="width:100%;">
							</textarea>
						</span>
					</template>
				</vue-good-table>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'myparts_vue' %>
<%= stylesheet_link_tag 'myparts_vue' %>
