<span v-if="props.column.field == 'articleCounts'">
	<input type="number" v-bind:data-id="props.row.id" v-model="props.row.my_part.count" @input="articleCountsChanged" min="-9999" max="9999" title="<%=t('part.articleCountsDesc')%>">
</span>
