<%= link_to attachment.file.blob.nil? ? nil : rails_blob_path(attachment.file), class: "list-group-item list-group-item-action", style: "border: 0" do %>
	<% if attachment&.file.content_type&.starts_with? "image/" %>
		<%= image_tag attachment.file, alt: attachment.file.filename, style: "max-width: 96px; max-height: 96px;" %>
	<% elsif attachment.file.previewable? %>
		<%= image_tag attachment.file.preview(resize_to_limit: [96, 96]), class: "img-thumbnail", alt: attachment.file.filename %>
	<% end %>
	<span class="align-bottom">
		<%= attachment.file.filename %>
	</span>
<% end %>
