<% errors = nil if !local_assigns[:errors] %>
<div class="attachment-field row mb-3">
	<div class="col-lg-5">
		<% if f.object.file.content_type&.starts_with?('image/') %>
			<input type="radio" name="part[image]" value="<%=f.index%>" title="<%=t('attachment.default')%>" class="form-check-input" <%= "checked" if f.object&.part&.image == f.object  %> <%= "disabled" if !is_number? f.index %>>
		<% end %>

		<%= f.label :title, t("attachment.title"), class: "form-label" %>
		<br>
		<%= f.text_field :title, class: "form-control", list: "titleOptions" %>
		<% errors&.full_messages_for("attachments[#{f.index}].title")&.each do |message| %>
			<div class="text-danger"><%= message %></div>
		<% end %>
	</div>
	<div class="col-lg-5">
		<% if f.object.new_record? %>
			<%= f.label :file, t("attachment.file"), class: "form-label" %><br>
			<%= f.file_field :file, class: "form-control", accept: ".jpg, .png, .jpeg, .pdf" %>
			<% errors&.full_messages_for("attachments[#{f.index}].file")&.each do |message| %>
				<div class="text-danger"><%= message %></div>
			<% end %>
		<% else %>
			<%= render "attachment", attachment: f.object %>
		<% end %>
	</div>
	<div class="col-lg-2 d-flex">
		<%= link_to_remove_association f, class: "btn btn-danger mt-auto" do %>
			<i class="bi bi-trash"></i>
		<% end %>
	</div>
</div>
