<span v-if="props.column.field == 'colors'">
	<div v-for="color in props.row.colors">
		<span class="badge rounded-pill" :style='"background-color: " + getColorBg(color) + " !important; color: " + getColorFg(color) + " !important;"'>
			{{t(color, {scope: "colors"})}}
		</span>
	</div>
</span>
