<%= form_with model: part do |form| %>
	<div class="row">
		<div class="col-lg-4">
			<h2>
				&nbsp;
			</h2>

			<div class="mb-3">
				<%= form.label :color1, t("part.color1"), class: "form-label" %><br>
				<%= form.select :color1, Part::COLORS.map {|col| [t(col, scope: :colors), col] }, {selected: part.color1, include_blank: true}, {class: "form-select select2"} %>
				<% part.errors.full_messages_for(:color1).each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>

			<div class="mb-3">
				<%= form.label :color2, t("part.color2"), class: "form-label" %><br>
				<%= form.select :color2, Part::COLORS.map {|col| [t(col, scope: :colors), col] }, {selected: part.color2, include_blank: true}, {class: "form-select select2"} %>
				<% part.errors.full_messages_for(:color2).each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>

			<div class="mb-3">
				<%= form.label :color3, t("part.color3"), class: "form-label" %><br>
				<%= form.select :color3, Part::COLORS.map {|col| [t(col, scope: :colors), col] }, {selected: part.color3, include_blank: true}, {class: "form-select select2"} %>
				<% part.errors.full_messages_for(:color3).each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>

			<div class="mb-3">
				<div class="form-check">
					<%= form.check_box :bio, class: "form-check-input" %>
					<%= form.label :bio, t("part.bio"), class: "form-check-label" %>
				</div>
			</div>

			<div class="mb-3">
				<%= form.label :language, t("part.language"), class: "form-label" %><br>
				<%= form.select :language, Part::LANGUAGES.map {|lang| [t(lang, scope: :languages), lang] }, {selected: part.language, include_blank: true}, {class: "form-select select2"} %>
				<% part.errors.full_messages_for(:language).each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>

			<div class="mb-3">
				<%= form.label :remarks, t("part.remarks"), class: "form-label" %><br>
				<%= form.text_area :remarks, class: "form-control", title: "Markdown supported" %><br>
				<% part.errors.full_messages_for(:remarks).each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>

			<%= form.fields_for :part_group do |grpform| %>
				<%= grpform.hidden_field :id %>

				<div class="mb-3">
					<%= grpform.label :category_id, t('part.sharedGroup', name: t("category.one")), class: "form-label" %><br>
					<%= grpform.select :category_id, Category.all.sort_by { |cat| cat.full_title }.map {|cat| [cat.full_title, cat.id] }, {selected: part.part_group.category_id}, {class: "form-select select2"} %>
					<% part.errors.full_messages_for('part_group.category').each do |message| %>
						<div class="text-danger"><%= message %></div>
					<% end %>
				</div>

				<div class="mb-3">
					<%= grpform.label :title, t('part.sharedGroup', name: t('part.title')), class: "form-label" %><br>
					<%= grpform.text_field :title, class: "form-control" %>
					<% part.errors.full_messages_for('part_group.title').each do |message| %>
						<div class="text-danger"><%= message %></div>
					<% end %>
				</div>

				<div class="mb-3">
					<%= grpform.label :weight, t('part.sharedGroup', name: t('part.weight')), class: "form-label" %><br>
					<%= grpform.number_field :weight, class: "form-control" %>
					<% part.errors.full_messages_for('part_group.weight').each do |message| %>
						<div class="text-danger"><%= message %></div>
					<% end %>
				</div>

				<div class="mb-3">
					<%= grpform.label :length, t('part.sharedGroup', name: t('part.length')), class: "form-label" %><br>
					<%= grpform.number_field :length, class: "form-control", step: 0.1 %>
					<% part.errors.full_messages_for('part_group.length').each do |message| %>
						<div class="text-danger"><%= message %></div>
					<% end %>
				</div>

				<div class="mb-3">
					<%= grpform.label :remarks, t('part.sharedGroup', name: t('part.remarks')), class: "form-label" %><br>
					<%= grpform.text_area :remarks, class: "form-control", title: "Markdown supported" %>
					<% part.errors.full_messages_for('part_group.remarks').each do |message| %>
						<div class="text-danger"><%= message %></div>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="col-lg-4" data-controller="nested-rondo" data-nested-rondo-field-class-value="hist_number-field">
			<h2>
				<%= t("part.hist_numbers.other") %>
			</h2>
			<div data-nested-rondo-target="fieldContain">
				<%= form.fields_for :hist_numbers do |hist_numbers_form| %>
					<%= render "hist_number_fields", f: hist_numbers_form, errors: part.errors %>
				<% end %>
			</div>
			<%= link_to_add_association t('add', name: t('part.hist_numbers.one')), form, :hist_numbers %>
		</div>
		<div class="col-lg-4" data-controller="nested-rondo" data-nested-rondo-field-class-value="attachment-field">
			<h2>
				<%= t("attachments.other", count: '') %>
			</h2>
			<div data-nested-rondo-target="fieldContain">
				<%= form.fields_for :attachments do |att_form| %>
					<%= render "attachment_fields", f: att_form, errors: part.errors %>
				<% end %>
			</div>
			<datalist id="titleOptions">
				<% Attachment.group(:title).having('count(*) > 1').distinct.pluck(:title).each do |title| %>
					<option value="<%= title %>">
				<% end %>
			</datalist>
			<%= link_to_add_association t('add', name: t('attachments.one', count: '')), form, :attachments %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 part_list" data-controller="nested-rondo" data-nested-rondo-field-class-value="part_list-field">
			<h2>
				<%= t "part.part_list" %>
			</h2>
			<ol class="list-group list-group-numbered" data-nested-rondo-target="fieldContain">
				<%= form.fields_for :part_list do |part_list_form| %>
					<%= render "part_list_fields", f: part_list_form, errors: part.errors %>
				<% end %>
			</ol>
			<%= link_to_add_association t('add', name: t('part.one')), form, :part_list, class: "add_part_list_item" %>
		</div>
	</div>
	<div class="mt-3 me-3 position-fixed top-0 end-0">
		<%= form.submit t(:save), :class => "btn btn-primary" %>
		<%= link_to t(:cancel), @part.new_record? ? category_path(@part.part_group.category) : part_path(@part), class: "btn btn-secondary" %>
	</div>
<% end %>
