<% errors = nil if !local_assigns[:errors] %>
<div class="hist_number-field row mb-3">
	<div class="col-lg-5">
		<%= f.label :number, t("part.hist_numbers.one"), class: "form-label" %><br>
		<%= f.text_field :number, class: "form-control" %>
		<% errors&.full_messages_for("hist_numbers[#{f.index}].number")&.each do |message| %>
			<div class="text-danger"><%= message %></div>
		<% end %>
	</div>

	<div class="col-lg-5">
		<%= f.label :year, t("part.year"), class: "form-label" %><br>
		<%= f.text_field :year, class: "form-control" %>
		<% errors&.full_messages_for("hist_numbers[#{f.index}].year")&.each do |message| %>
			<div class="text-danger"><%= message %></div>
		<% end %>
	</div>

	<div class="col-lg-2 d-flex">
		<%= link_to_remove_association f, class: "btn btn-danger mt-auto" do %>
			<i class="bi bi-trash"></i>
		<% end %>
	</div>
</div>
