<span v-if="props.column.field == 'image'">
	<a :href='props.row.ftdb30TicketNumber ? "/ft-article/" + props.row.ftdb30TicketNumber : "/parts/" + props.row.id'>
		<img :src="props.row.image" v-if="props.row.image" style="max-width: 96px; max-height: 96px;" alt="image of part"/>
	</a>
</span>
