<span v-if="props.column.field == 'mycomment'">
	<textarea class="myComment" v-bind:data-id="props.row.id" v-model="props.row.my_part.comment" @blur="mycommentChanged" style="width:100%;" title="<%=t('part.myCommentDesc')%>">
	</textarea>
</span>
