<% errors = nil if !local_assigns[:errors] %>
<div class="part_list-field">
	<li class="list-group-item d-flex justify-content-between align-items-start row">
			<div class="col-lg-2">
				<%= f.number_field :amount, min: 0, id: nil, class: "form-control", placeholder: t("part_list_entry.amount") %>
				<% errors&.full_messages_for("part_list[#{f.index}].amount")&.each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>
			<div class="col-lg-9">
				<% options = [] %>
				<% options.push([f.object.item.title, f.object.item_id]) if f.object.item %>
				<%= f.select :item_id, options, {}, {id: nil, class: "select2-partlist-part", style: "width: 100%"} %>
				<% errors&.full_messages_for("part_list[#{f.index}].item")&.each do |message| %>
					<div class="text-danger"><%= message %></div>
				<% end %>
			</div>
			<div class="col-lg-1">
				<%= link_to_remove_association f, class: "btn btn-danger mt-auto" do %>
					<i class="bi bi-trash"></i>
				<% end %>
			</div>
	</li>
</div>
