<span v-if="props.column.field == 'remarks'" v-html="formatMarkdown(props.row.remarks)">
</span>
<span v-if="props.column.field == 'part_group.remarks'" v-html="formatMarkdown(props.row.part_group.remarks)">
</span>
