<div id="app" data-category="<%= category&.id %>" data-colors="<%=Part::COLORS.to_json%>" data-languages="<%=Part::LANGUAGES.to_json%>">
	<vue-good-table ref="part-table" :columns="columns" :rows="data.content" :total-rows="data.totalElements" mode="remote" :search-options="searchOptions" :sort-options="{initialSortBy: sortOptions}" v-on:search="search" :pagination-options="paginationOptions" v-on:page-change="onPageChange" :is-loading="isLoading" v-on:per-page-change="onPerPageChange" v-on:sort-change="onSortChange" v-on:column-filter="onColumnFilter" :group-options="{enabled: isGrouping()}">
		<template #table-actions>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default btn-sm" @click="toggleFilters" title="<%= t(:filter) %>">
					<i class="bi bi-filter"></i>
				</button>
				<button type="button" class="btn btn-default btn-sm" @click="downloadCsv" title="<%= t(:csvExport) %>">
					<i class="bi bi-download"></i>
				</button>
				<div class="dropdown">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" id="selectColumsDropdown" title="<%= t(:columnsDisplay) %>">
						<i class="bi bi-sliders2" aria-hidden="true"></i>
					</button>
					<ul class="dropdown-menu" style="top: auto; left: auto;" aria-labelledby="selectColumsDropdown">
						<li v-for="(column, index) in columns" :key="index">
							<a href="#" class="dropdown-item small" tabIndex="-1" @click.prevent="toggleColumn(index, $event)">
								<input :checked="!column.hidden" type="checkbox" style="pointer-events: none;"/>&nbsp;{{column.label}}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</template>
		<template #table-row="props">
			<%= render "parts/image" %>
			<%= render "parts/title" %>
			<%= render "parts/color" %>
			<%= render "parts/articlecounts" %>
			<%= render "parts/mycomment" %>
			<%= render "parts/remarks" %>
		</template>
		<template #emptystate>
			<%= t(:noparts, scope: :category) %>
		</template>
		<template #table-header-row="props">
			<a :href='(props.row.children[0].part_group.category.sfpartsid ? "categories.php?id=" + props.row.children[0].part_group.category.sfpartsid : "categories/" + props.row.children[0].part_group.category.id + "?") + "&keyword=" + this.lastSearchTerm' class="link-dark" >
				{{props.row.label}}
			</a>
		</template>
	</vue-good-table>
</div>

<%= javascript_include_tag 'parts_vue' %>
<%= stylesheet_link_tag 'parts_vue' %>
