<div class="dropdown">
	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" id="selectColumsDropdown" title="<%= t(:columnsDisplay) %>">
		<i class="bi bi-sliders2" aria-hidden="true"></i>
	</button>
	<ul class="dropdown-menu" style="top: auto; left: auto;" aria-labelledby="selectColumsDropdown">
		<li v-for="(column, index) in common_columns" :key="index">
			<a href="#" class="dropdown-item small" tabIndex="-1" @click.prevent="toggleColumn(index, $event)">
				<input :checked="!column.hidden" type="checkbox" style="pointer-events: none;"/>&nbsp;{{column.label}}
			</a>
		</li>
	</ul>
</div>
