<span v-if="props.column.field == 'part_group.title'">
	<a :href='props.row.ftdb30TicketNumber ? "/ft-article/" + props.row.ftdb30TicketNumber : "/parts/" + props.row.id' @mouseover='showPartsPopover(props.row.id)' @mouseleave='hidePartsPopover()' title="<%=t('titlehelp')%>">
		{{props.row.part_group.title}}
	</a>
</span>
