<% provide(:title, t("part.search.title")) %>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 mb-2">
			<div class="accordion" id="accordionPartsearch">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingCategory">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories" aria-expanded="true" aria-controls="collapseCategories">
							<%= t(:category, count: @categories.size) %>
						</button>
					</h2>
					<div id="collapseCategories" class="accordion-collapse collapse show" aria-labelledby="headingCategory">
						<div class="accordion-body">
							<div class="list-group list-group-horizontal">
								<% @categories.each do |category| %>
									<% url = {controller: "categories", action: "showsfpartsid", id: category.sfpartsid} %>
									<%= link_to category.title, url, class: "list-group-item list-group-item-action catlink", data: {orighref: url_for(url)} %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingParts">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParts" aria-expanded="true" aria-controls="collapseParts">
							<%= t(:part, count: 2) %>
						</button>
					</h2>
					<div id="collapseParts" class="accordion-collapse collapse show" aria-labelledby="headingParts">
						<div class="accordion-body">
							<%= render "parts/searchtableapp", category: nil %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
