<% cache @part do %>
	<div id="title">
		<%= t("part.variants_of", name: @part.part_group.title) %>
	</div>
	<% if @part.part_group.variants.length > 1 %>
		<div id="body">
			<ul class="list-group list-group-flush">
				<% @part.part_group.variants.each do |part| %>
					<li class="list-group-item <%= part.id == @part.id ? 'active' : '' %>">
						<%= part.title %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</div>
<% end %>
