<% provide(:title, @part.title) %>
<div id="app" data-partid="<%=@part.id%>" data-parttitle="<%=@part.title%>" data-histidx="<%=params[:idx] if @snapshot%>">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-8 mb-2">
				<h1>
					<%= @part.title %>
					<% if @snapshot %>
						<%= t(:effective, date: l(@snapshot.created_at.localtime)) %>
					<% end %>
				</h1>
			</div>
			<div class="col-lg-4">
				<div class="btn-group float-end" role="group">
					<% if edit_allowed? && !@snapshot %>
						<%= link_to({controller: "parts", action: "new", id: @part.id}, class: "btn btn-success", title: t(:new_variant)) do %>
							<i class="bi bi-file-earmark-plus"></i>
						<% end %>
						<%= link_to edit_part_path(@part), class: "btn btn-primary", title: t(:edit, title: @part.title) do %>
							<i class="bi bi-pencil"></i>
						<% end %>
						<%= link_to part_path(@part), method: :delete, data: {confirm: t('delete.confirm')}, class: "btn btn-danger " + (@part.contained.size > 0 ? "disabled" : ""), title: t('delete.name', title: @part.title) do %>
							<i class="bi bi-trash"></i>
						<% end %>
					<% end %>
					<%if @user&.group == :admin && @snapshot %>
						<%= link_to({controller: "parts", action: "restore", part_id: @part.id}, method: :delete, data: {confirm: t('restore.confirm')}, class: "btn btn-danger", title: t('restore.name')) do %>
							<i class="bi bi-recycle"></i>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-lg-4">
				<% if @part.image %>
					<div class="row">
						<div class="col-lg-12">
							<%= image_tag @part.image.file, class: "img-fluid mb-2", alt: "image of part", style: "max-width: 360px; max-height: 360px;" %>
						</div>
					</div>
				<% end %>
				<% if !@part.remarks.blank? %>
					<div class="row">
						<div class="col-lg-12">
							<span v-html="formatMarkdown('<%=@part.remarks.gsub("'", "\\'").gsub("\r", "\\r").gsub("\n", "\\n")%>')">
							</span>
						</div>
					</div>
				<% end %>
				<% if !@part.part_group.remarks.blank? %>
					<div class="row">
						<div class="col-lg-12">
							<span v-html="formatMarkdown('<%=@part.part_group.remarks.gsub("'", "\\'").gsub("\r", "\\r").gsub("\n", "\\n")%>')">
							</span>
						</div>
					</div>
				<% end %>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<%= render "item", key: t("part.current_number"), value: @part.current_number %>
					<%= render "item", key: t("part.hist_numbers", count: @part.hist_numbers.size), value: @part.hist_numbers.map { |num| "#{num.number.blank? ? '-' : num.number} (#{num.year})" }.join(",\n") %>
					<%= render "item", key: t("part.color1"), value: t(@part.color1, scope: "colors") %>
					<%= render "item", key: t("part.color2"), value: t(@part.color2, scope: "colors") %>
					<%= render "item", key: t("part.color3"), value: t(@part.color3, scope: "colors") %>
					<%= render "item", key: t("part.bio"), value: t(@part.bio, scope: "bio") %>
					<%= render "item", key: t("part.language"), value: t(@part.language, scope: "languages") %>
					<%= render "item", key: t("part.year"), value: @part.year.to_s %>
					<%= render "item", key: t("part.weight"), value: number_to_human(@part.part_group.weight, units: { unit: "g", thousand: "kg" }) %>
					<%= render "item", key: t("part.length"), value: number_to_human(@part.part_group.length, units: { unit: "mm", thousand: "m" }) %>
					<% if !@user.nil? %>
						<% my_part = @user.my_parts.includes(:part).find_by_part_id(@part.id)%>
						<% my_part_included_count = 0 %>
						<% @part.contained.each do |box_part_list_entry| %>
							<% @user.my_parts.includes(:part).where(:part => box_part_list_entry.part.id).each do |my_box| %>
								<% my_part_included_count += my_box.count * box_part_list_entry.amount %>
							<% end %>
						<% end %>
						<dt class="col-4">
							<%= t("part.articleCountsSingle") %>
						</dt>
						<dd class="col-8">
							<input id="my_part_single_count" type="number" class="form-control" value="<%=my_part&.count || 0%>" v-bind:data-id="<%=@part.id%>" @blur="myAmountChanged">
						</dd>
						<dt class="col-4">
							<%= t("part.articleCountsPartlist") %>
						</dt>
						<dd class="col-8">
							<input id="my_part_included_count" type="number" class="form-control" value="<%=my_part_included_count%>" disabled>
						</dd>
						<dt class="col-4">
							<%= t("part.articleCountsTotal") %>
						</dt>
						<dd class="col-8">
							<input id="my_part_total_count" type="number" class="form-control" disabled>
						</dd>
						<label for="mycomment" class="form-label"><%= t("part.mycomment") %></label>
						<textarea class="form-control myComment" id="mycomment" v-bind:data-id="<%=@part.id%>" @blur="mycommentChanged"><%=my_part&.comment%></textarea>
					<% end %>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<h2>
						<%= t(:attachments, count: @part.attachments.size) %>
					</h2>
					<ol class="list-group list-group-numbered">
						<% @part.attachments.each do |attachment| %>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">
										<%= attachment.title %>
									</div>
									<%= render "attachment", attachment: attachment %>
								</div>
							</li>
						<% end %>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="accordion" id="accordionPartsShow">
					<div v-if="part_list_rows.length > 0">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingPartList">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartList" aria-expanded="true" aria-controls="collapsePartList">
									<%= t "part.part_list" %>
								</button>
							</h2>
							<div id="collapsePartList" class="accordion-collapse collapse show" aria-labelledby="headingPartList" data-bs-parent="#accordionPartsShow">
								<vue-good-table styleClass="accordion-body" :columns="part_list_columns" :rows="part_list_rows" :search-options="searchOptions" :sort-options="{initialSortBy: sortOptions}" :select-options="{enabled: true, selectionText: '<%= t(:partsSelected) %>', clearSelectionText: '<%= t(:clear) %>'}" :is-loading="isLoading" :row-style-class="partlistRowStyleClass">
									<template #table-actions>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default btn-sm" @click="downloadPartListCsv" title="<%= t(:csvExport) %>">
												<i class="bi bi-download"></i>
											</button>
											<%= render "show_columns_toggle" %>
											<% if !@user.nil? %>
												<button type="button" class="btn btn-default btn-sm" @click="matchMyParts" title="<%= t(:matchMyParts) %>">
													<i class="bi bi-subtract"></i>
												</button>
											<% end %>
										</div>
									</template>
									<template #table-row="props">
										<%= render "image" %>
										<%= render "title" %>
										<%= render "color" %>
										<%= render "remarks" %>
									</template>
								</vue-good-table>
							</div>
						</div>
						<div class="row">
							<dt class="col-2 offset-9 text-start">
								<%= t("part_list.total_amount") %>
							</dt>
							<dd class="col-1 text-end">
								{{(part_list_rows.length || 0).toLocaleString()}}
							</dd>
						</div>
						<div class="row">
							<dt class="col-2 offset-9 text-start">
								<%= t("part_list.total_size") %>
							</dt>
							<dd class="col-1 text-end">
								{{part_list_rows.reduce((sum, part) => sum + part.amount, 0).toLocaleString()}}
							</dd>
						</div>
						<div class="row">
							<dt class="col-2 offset-9 text-start">
								<%= t("part_list.total_weight") %>
							</dt>
							<dd class="col-1 text-end">
								{{part_list_rows.reduce((sum, part) => sum + (part.part_group.weight || 0) * part.amount, 0).toLocaleString() + ' g'}}
							</dd>
						</div>
					</div>
					<div v-if="variants_rows.length > 1">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingVariants">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVariants" aria-expanded="true" aria-controls="collapseVariants">
									<%= t "part.variants" %>
								</button>
							</h2>
							<div id="collapseVariants" class="accordion-collapse collapse show" aria-labelledby="headingVariants" data-bs-parent="#accordionPartsShow">
								<vue-good-table styleClass="accordion-body" :columns="variants_columns" :rows="variants_rows" :search-options="searchOptions" :sort-options="{initialSortBy: sortOptions}">
									<template #table-actions>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default btn-sm" @click="downloadVariantsCsv" title="<%= t(:csvExport) %>">
												<i class="bi bi-download"></i>
											</button>
											<%= render "show_columns_toggle" %>
										</div>
									</template>
									<template #table-row="props">
										<%= render "image" %>
										<%= render "title" %>
										<%= render "color" %>
										<%= render "remarks" %>
									</template>
								</vue-good-table>
							</div>
						</div>
					</div>
					<div v-if="contained_rows.length > 0">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingContained">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContained" aria-expanded="false" aria-controls="collapseContained">
									<%= t "part.contained" %>
								</button>
							</h2>
							<div id="collapseContained" class="accordion-collapse collapse" aria-labelledby="headingContained" data-bs-parent="#accordionPartsShow">
								<vue-good-table styleClass="accordion-body" :columns="contained_columns" :rows="contained_rows" :search-options="searchOptions" :sort-options="{initialSortBy: contained_sortOptions}">
									<template #table-actions>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default btn-sm" @click="downloadContainedCsv" title="<%= t(:csvExport) %>">
												<i class="bi bi-download"></i>
											</button>
											<%= render "show_columns_toggle" %>
										</div>
									</template>
									<template #table-row="props">
										<%= render "image" %>
										<%= render "title" %>
										<%= render "color" %>
										<%= render "remarks" %>
									</template>
								</vue-good-table>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingContained">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLinks" aria-expanded="false" aria-controls="collapseLinks">
								<%= t "part.links" %>
							</button>
						</h2>
						<div id="collapseLinks" class="accordion-collapse collapse" aria-labelledby="headingContained" data-bs-parent="#accordionPartsShow">
							<ul class="list-group">
								<% num = @part&.current_number&.scan(/\d/)&.join("") %>
								<% searchstr = !num.blank? ? num : ERB::Util.u(@part.title) %>
								<% if !num.blank? %>
									<a href="https://www.fischertechnik.de/de-de/produkte/<%=num%>" target="_blank" class="list-group-item"><%=t(:provider_search_link, name: @part.title, provider: "fischertechnik.de")%></a>
								<% end %>
								<a href="https://santjohanser.de/search?sSearch=<%=searchstr%>" target="_blank" class="list-group-item"><%=t(:provider_search_link, name: @part.title, provider: "santjohanser")%></a>
								<a href="https://www.fischerfriendswoman.de/index.php?p=flexsuche&s=<%=searchstr%>" target="_blank" class="list-group-item"><%=t(:provider_search_link, name: @part.title, provider: "fischer friends man")%></a>
								<a href="https://www.fischertechnikwebshop.com/index.php?route=product/search&search=<%=searchstr%>" target="_blank" class="list-group-item"><%=t(:provider_search_link, name: @part.title, provider: "fischertechnikwebshop")%></a>
								<a href="https://www.fischertechnik-teile.de/search?q=<%=searchstr%>" target="_blank" class="list-group-item"><%=t(:provider_search_link, name: @part.title, provider: "Fischertechnik-Teile")%></a>
							</ul>
						</div>
					</div>
					<% if @user&.group == :admin %>
						<h2 class="accordion-header" id="headingContained">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="false" aria-controls="collapseHistory">
								<%= t "history" %>
							</button>
						</h2>
						<div id="collapseHistory" class="accordion-collapse collapse" aria-labelledby="headingContained" data-bs-parent="#accordionPartsShow">
							<ul class="list-group">
								<% @part.snapshots.each_with_index do |snapshot, idx| %>
									<%= link_to({controller: "parts", action: "showhist", part_id: @part.id, idx: idx}, class: "list-group-item") do %>
										<%= t(:effective, date: l(snapshot.created_at.localtime)) %>
										<%= t(:by, username: snapshot.user&.username.to_s) if snapshot.user %>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'part_show_vue' %>
<%= stylesheet_link_tag 'part_show_vue' %>
