.select2-result-repository {
  padding-top: 4px;
  padding-bottom: 3px; }
  .select2-result-repository__image {
    float: left;
    width: 60px;
    margin-right: 10px; }
    .select2-result-repository__image img {
      width: 100%;
      height: auto;
      border-radius: 2px; }
  .select2-result-repository__meta {
    margin-left: 70px; }
  .select2-result-repository__title {
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px; }
  .select2-result-repository__cat, .select2-result-repository__stargazers {
    margin-right: 1em; }
  .select2-result-repository__cat, .select2-result-repository__stargazers, .select2-result-repository__watchers {
    display: inline-block;
    color: #aaa;
    font-size: 11px; }
  .select2-result-repository__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px; }
  .select2-results__option--highlighted .select2-result-repository__title {
    color: white; }
  .select2-results__option--highlighted .select2-result-repository__cat, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers {
    color: #c6dcef; }

.part_list-field .select2-selection, .part_list-field .select2-selection--single {
  height: auto !important;
  min-height: 87px;
}

a.disabled {
 pointer-events: none;
}

.partlistok {
	background-color: #8f8;
}
.partlistmissing {
	background-color: #f88;
}
