<% errors = nil if !local_assigns[:errors] %>
<div class="category-field row">
	<div class="col-lg-8">
		<%= f.label :title, t("category.one"), class: "form-label" %><br>
		<%= f.text_field :title, class: "form-control" %>
		<% errors&.full_messages_for("categories[#{f.index}].title")&.each do |message| %>
			<div class="text-danger"><%= message %></div>
		<% end %>
	</div>

	<div class="col-lg-4 d-flex">
		<%= link_to_remove_association f, class: "btn btn-danger mt-auto " + (f.object.categories.size > 0 || f.object.part_groups.size > 0 ? "disabled" : "") do %>
			<i class="bi bi-trash"></i>
		<% end %>
	</div>
</div>
