<% provide(:title, t(:edit, title: @category.title)) %>
<div class="container-fluid">
	<h1>
		<%= t :edit, title: @category.title %>
	</h1>

	<%= form_with model: @category do |form| %>
		<div class="mb-12">
			<%= form.label :remarks, t("category.remarks"), class: "form-label" %><br>
			<%= form.text_area :remarks, class: "form-control", title: "Markdown supported" %><br>
			<% @category.errors.full_messages_for(:remarks).each do |message| %>
				<div class="text-danger"><%= message %></div>
			<% end %>
		</div>
		<div data-controller="nested-rondo" data-nested-rondo-field-class-value="category-field">
			<h2>
				<%= t("category.other") %>
			</h2>
			<div data-nested-rondo-target="fieldContain">
				<%= form.fields_for :categories do |cat_form| %>
					<%= render "category_fields", f: cat_form, errors: @category.errors %>
				<% end %>
			</div>
			<%= link_to_add_association t('add', name: t('category.one')), form, :categories %>
		</div>

		<div class="mt-3 me-3 position-fixed top-0 end-0">
			<%= form.submit t(:save), :class => "btn btn-primary" %>
			<%= link_to t(:cancel), category_path(@category), class: "btn btn-secondary" %>
		</div>
	<% end %>
</div>
