<% provide(:title, @category.full_title) %>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-11 mb-2">
			<h1>
				<%= @category.title %>
			</h1>
		</div>
		<div class="col-lg-1">
			<div class="btn-group float-end" role="group">
				<% if edit_allowed? %>
					<%= link_to edit_category_path(@category), class: "btn btn-primary", title: t(:edit, title: @category.title) do %>
						<i class="bi bi-pencil"></i>
					<% end %>
					<%= link_to({controller: "parts", action: "newpartgroup", part_id: @category.id}, class: "btn btn-success", title: t(:new)) do %>
						<i class="bi bi-file-earmark-plus"></i>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% if !@category.remarks.blank? %>
		<div class="row" id="category_app">
			<div class="col-lg-12">
				<span v-html="formatMarkdown('<%=@category.remarks.gsub("'", "\\'").gsub("\r", "\\r").gsub("\n", "\\n")%>')">
				</span>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-lg-12 mb-2">
			<div class="accordion" id="accordionCategories">
				<% if @category.categories.size > 0 %>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingCategory">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories" aria-expanded="true" aria-controls="collapseCategories">
								<%= t(:category, count: @category.categories.size) %>
							</button>
						</h2>
						<div id="collapseCategories" class="accordion-collapse collapse show" aria-labelledby="headingCategory">
							<div class="accordion-body">
								<div class="list-group list-group-horizontal flex-wrap">
									<% @category.categories.each do |category| %>
										<%= link_to category.title, category.url_show, class: "list-group-item catlink", data: {orighref: url_for(category.url_show)} %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingParts">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParts" aria-expanded="true" aria-controls="collapseParts">
							<%= t(:part, count: @category.part_groups.size) %>
						</button>
					</h2>
					<div id="collapseParts" class="accordion-collapse collapse show" aria-labelledby="headingParts">
						<div class="accordion-body">
							<%= render "parts/searchtableapp", category: @category %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'categories_vue' %>
