<% provide(:title, t("nav.about")) %>


<h2>Danksagungen</h2>
<p>
Die ft-Datenbank ist das Werk vieler, vieler fleißiger Hände. Unter anderem haben uns mit Informationen, Scans, Scan-Vorlagen, Musterteilen, ... und anderweitig folgende Firmen unterstützt:
</p>
<ul>
	<li>Dirk Haizmann &dagger;, fischertechnik GmbH, Waldachtal, D</li>
	<li>Tobias Brezing, fischertechnik GmbH, Waldachtal, D</li>
	<li>Eric-Peter Müller, fischerwerke, Waldachtal, D</li>
	<li>Ralf Knobloch, Knobloch GmbH, Erbes-Büdesheim, D</li>
	<li>Hartmut Gambke, Cornelsen Experimenta GmbH, Berlin, D</li>
	<li>Henning Leuz, LPE Naturwissenschaft & Technik GmbH, Eberbach, D</li>
	<li>Stefan Roth, fischerfriendsman.de, Wittlich, D</li>
</ul>
<p>Und folgende Privatleute:</p>
<ul>
	<li>Andreas Strobel (hathi), Witterswil, CH</li>
	<li>Michael Samek (Gargel), Wedemark, D</li>
	<li>Ralf Wicke (Lunacat), Warburg, D</li>
	<li>Frank Linde (DerMitDenBitsTanzt), Viersen, D</li>
	<li>Peter Derks (pderks), Krefeld, D</li>
	<li>Andreas Kular (d2andy), Nottuln, D</li>
	<li>Holger Howey (fishfriend), Nottuln, D</li>
	<li>Oliver Recktenwald (olli), Wiesbaden, D</li>
	<li>Thomas Brestich (schnaggels), Kelkheim, D</li>
	<li>Michael Becker (hildegunde), Mannheim, D</li>
	<li>Markus Mack (marmac), Winnenden, D</li>
	<li>Jan Triphan (jan), Weil am Rhein, D</li>
	<li>Martin Lütte (martin73), Rippolingen, D</li>
	<li>Peter Karl (Moorhuhn), München, D</li>
	<li>Aribert Schwarz (A.Schwarz), Alling, D</li>
	<li>Suitbert Schönleber (ksh), Ingolstadt, D</li>
	<li>Franz Santjohanser (fischertechnikfranz), Buchloe, D</li>
	<li>Rob van Baal (rob-van-baal), Apeldoorn, NL</li>
	<li>Arjen Neijsen (jmneijsen), Capelle a/d IJssel, NL</li>
	<li>Stef Dijkstra (fthobby.nl), 's-Hertogenbosch, NL</li>
	<li>Joost de Jonge (joostdejonge), Rosmalen, NL</li>
</ul>
<h2>Team</h2>
<ul>
	<li>Karl Tillmetz (Abbildungen, History und Redaktion)</li>
	<li>Stefan Falk (Datenbank-Struktur und Import, Programmierung ft:db 3.5)</li>
	<li>Sven Engelke (Programmierung ft:db 2.0, HTML und Design)</li>
	<li>André Mohr (Programmierung ft:db 2.0, HTML und Design)</li>
	<li>Ulrich Möller (Programmierung ft:db 3.0)</li>
	<li>Martin Giger (Programmierung ft:db 3.0)</li>
</ul>
